<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <meta charset="UTF-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini Message Board</title>
   <link rel="stylesheet" href="/styles.css">
</head>
<body>
 
    
    <div class="header">
      <i 
     id="showSidebarButton"
      class="fa fa-bars fa-2x"
      style="
    
        color: lightskyblue; 
        cursor: pointer"
       aria-hidden="true"></i>
      <a href="/">
        <h1>MessageBoard</h1>
      </a>
      
        <i 
        id="showDialogButton"
        class="fa fa-comments fa-2x" aria-hidden="true" 
        style="
        color: lightskyblue; 
        cursor: pointer"></i>
     
    </div>
    <div class="container">
      <div class="sidebar">
         <% messages.map((message) => { %>
            <div class="user" >
            <a href="/?user=<%= encodeURIComponent(message.user) %>">
 <h1 class="each"><%= message.user.toUpperCase()%></h1> 
</a>
            </div>
              <div class="line">

            </div>
                
                
           <% }) %>
      </div>
      <div class="messageContainer">
      
          <% messages.map((message) => { %>
            <div class="message">
              <% message.text.map((eachText) => { %>
                 <p><%= eachText %></p>
          
           <% }) %>
            </div>
          
           <% }) %>
       
      </div>
     
    </div>  
     <dialog id="myDialog">
       <form method="POST" action="/new" id="myform">
                <h1>Add New Message</h1>
                <label for="Name">Name</label>
                <input 
                type="text" id="Name" placeholder="Name" name="Name">
                <span id="name"></span>
                <label for="Message">Message</label>
               <textarea
               rows="8"
               cols="50"
               id="Message"
               name="Message"
               >

               </textarea>
                <span id="message"></span>
               
               <div class="buttons">
                   <button 
                   type="submit" 
                   class="submit">Submit</button>
                   <button
                   type="button"  
                   id="cancelButton">Cancel</button>
               </div>
               
            </form>
      </dialog>
      <div class="mobileResponsive"
     
      >
       
      </div>
  <script src="/script.js"></script>
</body>
</html>