<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <meta charset="UTF-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini Message Board</title>
   <link rel="stylesheet" href="/styles.css">
</head>
<body>
 
    
    <div class="header">
        <i 
        id="showDialogButton"
        class="fa fa-comments fa-2x" aria-hidden="true" 
        style="
        size: 16;
        color: lightskyblue; 
        cursor: pointer"></i>
    </div>
    <div class="container">
      <div class="sidebar">
        
      </div>
      <div class="messageContainer">
      
          <% messages.map((message) => { %>
            <div class="message">
               <p><%= message.text%></p>
            </div>
                
           <% }) %>
       
      </div>
     
    </div>  
     <dialog id="myDialog">
       <form method="POST" action="/new" id="myform">
                <h1>Add New Message</h1>
                <label for="Name">Name</label>
                <input 
                type="text" id="Name" placeholder="Name" name="Name">
                <span id="Name"></span>
                <label for="Message">Message</label>
               <textarea
               rows="8"
               cols="50"
               >

               </textarea>
                <span id="Message"></span>
               
               
                <button type="submit">Submit</button>
            </form>
      </dialog>
  <script src="/script.js"></script>
</body>
</html>